#messagesuccess {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    bottom: 0px;
}

#messagewarn {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    bottom: 0px;

}

#messagedelete {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    bottom: 0px;
}

.alert {
    margin-bottom: 0px;
}

.navbar {
    background: #ffcc00;
    width: 100%;
    display: block;
    position: fixed;
    top: 0px;
    z-index: 1;

    box-shadow: rgba(143, 143, 143, 0.25) 0px 10px 10px, rgba(143,
        143,
        143,
        0.25) 0px 5px 5px;
}

.navbar li a:hover {
    color: rgb(5, 101, 146);
}
.container {
    position: relative;
    /* margin-top: 110px; */
    padding-top: 100px;
}
.editBtn {
    /* position: sticky; */
    margin-top: 108px;
    left: 0px;
    width: 4rem;
}

/* .content{
    background: url('Screenshot\ 2022-08-02\ 171411.png');
   background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
} */
.contentnotes {

    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/* background: rgb(233, 247, 246); */
margin-top: 4rem;
}

#notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background: rgb(233, 247, 246); */
}
textarea{
    background: rgb(233, 247, 246);
}